/*** RESUME.CSS ***/

/******************
** THIS TEMPLATE **
**   CONTAINS    **
**   SELECTORS   **
**  FOR COMMON   **
**RESUME ELEMENTS**
**  ALONG WITH   **
**DEFAULT  STYLES**
******************/


/** BODY **/

@media screen {
  header h1 {
    font-size: 2.5em;
  }


  body {
    margin: 5% 22% 0 22%;
  }

}

@media print {
  body {
    margin: 5% 5% 0 5%;
    font-size: .75em;
  }


}

body {
  font-family: sans;
}


/** HEADER **/

header {
  margin: auto;
  text-align: center;
}



header ul.contact_info {
  clear: both;
  display: inline-block;
}

header ul.contact_info li {
  float: left;
  padding-right: 30px;
  list-style-type: square;
}

header ul.contact_info li:first-of-type {
  list-style-type: none;
}

/** SECTIONS **/

section.section {
  padding-bottom: 10px;
}

section.section h2 {
  border-bottom: Black 1px solid;
}

section.section div.engagement {
  margin-bottom: 10px;
}

section.section div.engagement p.place, section.section div.engagement p.task{
  margin: 0;
}

section.section div.engagement p.place:hover, section.section div.engagement p.task:hover{
  background-color: #ddd;
}

section.section p.place span.organization {
  font-weight: bold;
}

section.section p.place span.location {
  float: right;
  clear: right;
}

section.section p.task span.position {
  font-style: italic;
  font-weight: bold;
}

section.section p.task span.timeframe {
  float: right;
  clear: right;
}


/*** FOOTER ****/


footer {
  margin-top: 20px;
}

footer p {
  float: right;
  font-style: italic;
}

}
